<html>
<head>
<title>Caes</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style type="text/css">
	body { background-color: lightyellow }
</style>
</head>
<body>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOVD9JHuLoTQ8uwsj87SiUKOpDL7snZ1WpnGbQCFaqUcTCb2s1Bg" />
<h1>Caes</h1>
{% if session['role'] == 'admin' %}
<a href="/dog/new">Novo Cao</a><br />
{% endif %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nome Registo</th>
      <th>Raca</th>
      <th>Categoria</th>
   </tr>
  </thead>
  <tbody>
{% for dog in dogs %}
  <tr>
{% if session['role'] == 'admin' %}
  	<td><a href="/dog/edit/{{dog.id}}">{{dog.name}}</a></td>
{% else %}
  	<td>{{dog.name}}</td>
{% endif %}

  	<td>{{dog.reg_name}}</td>

{% if dog.breed %}
  	<td>{{dog.breed}}</td>
{% else %}
	<td></td>
{% endif %}

{% if dog.category %}
  	<td>{{dog.category}}</td>
{% else %}
	<td></td>
{% endif %}

  </tr>
{% endfor %}
  </tbody>
</table>


</body>
</html>
