<html>
<head>
<title>Editar Equipa</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style type="text/css">
	body { background-color: lightyellow }
</style>
</head>
<body>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOVD9JHuLoTQ8uwsj87SiUKOpDL7snZ1WpnGbQCFaqUcTCb2s1Bg" />
<h1>Editar Equipa</h1>


<hr />

<div class="w-25">
<form method="post">
  <div class="form-group">
    <label for="person_name">Nome Condutor</label>
    <input type="text" class="form-control" id="person_name" value="{{team.person_name}}" readonly/>
  </div>
  <div class="form-group">
    <label for="dog_name">Nome Cao</label>
    <input type="text" class="form-control" id="dog_name" value="{{team.dog_name}}" readonly/>
  </div>
  <div class="form-group">
    <label for="level">Grau</label>
    <select class="form-control" id="level" name="level">
      <option value="">-</option>
{% for level in levels %}
      <option value="{{level.id}}" {{'selected' if team.level == level.id}}>{{level.name}}</option>
{% endfor %}
    </select>
  </div>
    <input type="hidden" value="{{team.id}}" name="team_id" />
    <button class="btn btn-primary" name="action" type="submit" value="edit_team">Salvar</button>
</form>
</div>
</body>
</html>

