<html>
<head>
<title>Competicoes</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style type="text/css">
	body { background-color: lightyellow }
</style>
</head>
<body>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOVD9JHuLoTQ8uwsj87SiUKOpDL7snZ1WpnGbQCFaqUcTCb2s1Bg" />
<h1>Competicoes</h1>
<ul>
{% for comp in competitions %}
<li><a href="/competition/{{comp.id}}">{{comp.name}}</a></li>
{% endfor %}
</ul>
</body>
</html>
